GtkWindow {
}
GtkTextView.lrc_tv {
    font-size: 24px;
    /*font-family: Comic Sans;*/
    background-color: rgba(0, 0, 0, 0);
}

.info-label {
  color: rgb(136, 139, 132);
  font-size: 9px;
}

/*
GtkNotebook.main_tab {
  -GtkWidget-focus-line-width: 0;
  padding: 10px 10px 10px 20px;
  -GtkNotebook-tab-overlap: 0;
  border-width: 1px;
  border-radius: 15px;
}
*/
